<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>userReg</title>
    <style>
      ul {
        padding: 0;
      }
      li {
        list-style: none;
        margin-bottom: 10px;
      }
      h3 {
        text-align: center;
      }
      form {
        width: 100%;
        text-align: center;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <form action="/userReg">
      <ul>
        <li>
          <label for="userid">아이디</label
          ><input name="userid" type="text" placeholder="userid" />
        </li>
        <li>
          <label for="username">이름</label
          ><input name="username" type="text" />
        </li>
        <li>
          <label for="pw">비밀번호</label><input name="pw" type="password" />
        </li>
        <li><label for="hp">전화번호</label><input name="hp" type="tel" /></li>
      </ul>
    </form>
  </body>
</html>
