<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로스트아크 게시판</title>
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../stylesheets/board.css" />
  </head>
  <body>
    <img src="../images/cutpack.jpg" />
    <div id="container">
      <header>
        <h1>로스트아크 유저 방명록</h1>
        <div class="btnlist">
          <button class="addbtn btn">등록</button>
        </div>
      </header>
      <nav class="listnav">
        <ul class="listul">
          <li class="lino">번호</li>
          <li class="liti">제목</li>
          <li class="liday">내용</li>
          <li class="liId">아이디</li>
          <li class="lidel">삭제</li>
          <li class="liupd">수정</li>
        </ul>
      </nav>

      <table>
        <tbody>
          <% boards.forEach(function(board){ %>
          <tr>
            <td class="tdNo"><%= board.no %></td>
            <td class="tdTi"><%= board.title %></td>
            <td class="tdDay"><%= board.contents %></td>
            <td class="tdId"><%= board.userid %></td>
            <td class="tdBtnupd">
              <button href="#" class="btn1">수정</button>
            </td>
            <td class="tdBtndel">
              <button href="#" class="btn2">삭제</button>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <script>
      let addbtn = document.querySelector(".addbtn");
      addbtn.addEventListener("click", () => {
        window.location.href = "http://localhost:3000/board/add";
      });
    </script>
  </body>
</html>
