<div class="btnlist">
          <div id="my_modal">
            <div id="minicon">
              <main class="app">
                <h1><strong>게시판 글 올리기</strong></h1>
                <div class="modal_nav">
                  <button id="close" class="modal_close_btn">취소</button>
                  <form action="https://www.naver.com">
                    <button type="submit">등록</button>
                  </div>
                  <section>
                    <article>
                      <label class="lableft" for="title">제목</label>
                      <input
                        class="labinput"
                        id="title"
                        name="title"
                        type="text"
                      />
                    </article>
                    <article id="down">
                      <label class="lableft" for="Contents">내용</label>
                      <textarea
                        class="labinput"
                        name="Contents"
                        id="Contents"
                      ></textarea>
                    </article>

                    <article>
                      <h3 id="clock"></h3>
                    </article>
                    <article class="quotes"></article>
                  </section>
                </main>
              </form>
            </div>
          </div>

          <button class="btn" id="popup_open_btn">등록</button>
        </div>