<!DOCTYPE html>
<html>
  <head>
    <!-- 백틱 ` 안에 ${} 와 같은 의미로 사용 한다 <%= %> -->
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
