@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap");
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-right: 0;
  background-image: url("/images/proimg/back2.jpg");
  background-size: 100% 100%;
}
li,
td {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px black;
}
img {
  width: 20%;
  height: 100%;
  float: left;
}
header {
  text-align: center;
}
header h1 {
  font-size: 5vh;
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 2%;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px black;
}
.btnlist {
  width: 100%;
  height: 10%;
}
.btnlist .btn {
  float: right;
  padding: 10px;
  margin: 5px;
  margin-bottom: 10px;
  width: 100px;
  font-size: 2vh;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}
.addbtn:hover {
  color: white;
  background-color: black;
}

.listnav {
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 4px solid black;
  overflow: hidden;
  height: 51px;
}
.listul {
  width: 100%;
  height: 51px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.listnav li {
  float: left;
  list-style: none;
  height: 51px;
  line-height: 51px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
  position: relative;
  top: -2px;
}
.lino {
  width: 10%;
}
.liti {
  width: 20%;
}
.liday {
  width: 40%;
}
.liId {
  width: 10%;
}
.liupd {
  width: 10%;
  float: right;
}
.lidel {
  width: 10%;
  float: right;
}
table {
  width: 100%;
}
td {
  text-align: center;
  font-size: 20px;
  padding: 0;
  border-bottom: 1px solid black;
  height: 50px;
}
.tdNo,
.tdId {
  width: 10%;
}
.tdTi {
  width: 20%;
}
.tdDay {
  width: 40%;
}
.tdBtnupd,
.tdBtnde {
  width: 10%;
}
td a {
  border-radius: 5px;
  border: none;
  padding: 5px;
  padding-left: 5px;
}
.btn1:hover {
  text-decoration: none;
  color: white;
  background-color: black;
}
.btn2:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.btn1 {
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px solid black;
  color: black;
}
.btn2 {
  background-color: black;
  color: white;
  text-decoration: none;
}

#down {
  position: relative;
  top: 20px;
  text-align: right;
}
#title {
  width: 490px;
  height: 47px;
}
.lableft {
  float: left;
  font-size: 2.5vh;
  position: relative;
  top: 9px;
}
textarea {
  resize: none;
  background-image: url("../images/proimg/1.jpg");
  background-size: cover;
  width: 721px;
  height: 550px;
  position: relative;
  left: 2px;
  font: 16px bold;
}
h3 {
  padding: 16.156px;
  text-align: center;
}
.quotes {
  font-family: "Moon Dance", cursive;
  font-size: 25px;
  color: azure;
}
#clock {
  color: azure;
  margin: 0;
}
.rows {
  margin: 0;
  margin-top: 10px;
}
#close {
  font: 20px bold;
}

#page-bar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
#page-bar a {
  color: black;
}
